<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>山田</string>
		<key>shortcut</key>
		<string>やまだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>一郎</string>
		<key>shortcut</key>
		<string>いちろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1️⃣</string>
		<key>shortcut</key>
		<string>いちろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>MC.B.B</string>
		<key>shortcut</key>
		<string>いちろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>二郎</string>
		<key>shortcut</key>
		<string>じろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2️⃣</string>
		<key>shortcut</key>
		<string>じろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>MC.M.B</string>
		<key>shortcut</key>
		<string>じろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三郎</string>
		<key>shortcut</key>
		<string>さぶろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>3️⃣</string>
		<key>shortcut</key>
		<string>さぶろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>MC.L.B</string>
		<key>shortcut</key>
		<string>さぶろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>碧棺</string>
		<key>shortcut</key>
		<string>あおひつぎ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>左馬刻</string>
		<key>shortcut</key>
		<string>さまとき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🐴</string>
		<key>shortcut</key>
		<string>さまとき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Mr.Hc</string>
		<key>shortcut</key>
		<string>さまとき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>入間</string>
		<key>shortcut</key>
		<string>いるま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>銃兎</string>
		<key>shortcut</key>
		<string>じゅうと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🐰</string>
		<key>shortcut</key>
		<string>じゅうと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>45 Rabbit</string>
		<key>shortcut</key>
		<string>じゅうと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>毒島</string>
		<key>shortcut</key>
		<string>ぶすじま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>メイソン</string>
		<key>shortcut</key>
		<string>めいそん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🐦</string>
		<key>shortcut</key>
		<string>めいそん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Crazy M</string>
		<key>shortcut</key>
		<string>めいそん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>飴村</string>
		<key>shortcut</key>
		<string>あめむら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>乱数</string>
		<key>shortcut</key>
		<string>らむだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🍭</string>
		<key>shortcut</key>
		<string>らむだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>easy R</string>
		<key>shortcut</key>
		<string>らむだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>夢野</string>
		<key>shortcut</key>
		<string>ゆめの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>幻太郎</string>
		<key>shortcut</key>
		<string>げんたろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📚</string>
		<key>shortcut</key>
		<string>げんたろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Phantom</string>
		<key>shortcut</key>
		<string>げんたろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>有栖川</string>
		<key>shortcut</key>
		<string>ありすがわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>帝統</string>
		<key>shortcut</key>
		<string>だいす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎲</string>
		<key>shortcut</key>
		<string>だいす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Dead or Alive</string>
		<key>shortcut</key>
		<string>だいす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>神宮寺</string>
		<key>shortcut</key>
		<string>じんぐうじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>寂雷</string>
		<key>shortcut</key>
		<string>じゃくらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💉</string>
		<key>shortcut</key>
		<string>じゃくらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ill-DOC</string>
		<key>shortcut</key>
		<string>じゃくらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伊弉冉</string>
		<key>shortcut</key>
		<string>いざなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>一二三</string>
		<key>shortcut</key>
		<string>ひふみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥂</string>
		<key>shortcut</key>
		<string>ひふみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>GIGOLO</string>
		<key>shortcut</key>
		<string>ひふみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>観音坂</string>
		<key>shortcut</key>
		<string>かんのんざか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>独歩</string>
		<key>shortcut</key>
		<string>どっぽ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👔</string>
		<key>shortcut</key>
		<string>どっぽ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>DOPPO</string>
		<key>shortcut</key>
		<string>どっぽ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>白膠木</string>
		<key>shortcut</key>
		<string>ぬるで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>簓</string>
		<key>shortcut</key>
		<string>ささら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎋</string>
		<key>shortcut</key>
		<string>ささら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Tragic Comedy</string>
		<key>shortcut</key>
		<string>ささら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>躑躅森</string>
		<key>shortcut</key>
		<string>つつじもり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>盧笙</string>
		<key>shortcut</key>
		<string>ろしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🌳</string>
		<key>shortcut</key>
		<string>ろしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>WISDOM</string>
		<key>shortcut</key>
		<string>ろしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>天谷奴</string>
		<key>shortcut</key>
		<string>あまやど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>零</string>
		<key>shortcut</key>
		<string>れい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>0️⃣</string>
		<key>shortcut</key>
		<string>れい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>MC MasterMind</string>
		<key>shortcut</key>
		<string>れい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>波羅夷</string>
		<key>shortcut</key>
		<string>はらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>空却</string>
		<key>shortcut</key>
		<string>くうこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📿</string>
		<key>shortcut</key>
		<string>くうこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Evil Monk</string>
		<key>shortcut</key>
		<string>くうこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>四十物</string>
		<key>shortcut</key>
		<string>あいもの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>十四</string>
		<key>shortcut</key>
		<string>じゅうし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🌔</string>
		<key>shortcut</key>
		<string>じゅうし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>14th Moon</string>
		<key>shortcut</key>
		<string>じゅうし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>天国</string>
		<key>shortcut</key>
		<string>あまぐに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>獄</string>
		<key>shortcut</key>
		<string>ひとや</string>
	</dict>
</array>
</plist>
